!!!
:plain
  <!--
  CURBLINES
  Made In NYC with pride. Copyright 2012. All rights reserved.
  -->

%html(lang='en' xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#")
  %head
    %base(href="/")
    %title Curblines
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags

    %meta{'charset' => 'utf-8'}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{"http-equiv" => 'content="width=device-width,initial-scale=1"'}

    %link{:href=>"//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css", :rel=>"stylesheet"}

    :plain
      <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

  / %meta{:content => (@page_desc ||= teaser_sentence), :property => "og:description"}
  / %meta{:content => (@page_desc ||= teaser_sentence), :name => "description"}
  / %meta{:content => "127512634049491", :property => "fb:app_id"}
  / %meta{:content => (@page_img ||= default_img), :property => "og:image"}
  / %meta{:content => (@page_url ||= default_url), :property => "og:url"}
  / %meta{:content => 'website', :property => "og:type"}
  / %meta{:content => full_title(@page_title ||= '', @location ||= 'NYC'), :property => "og:title"}


  %body
    #fb-root
    / .container
    / = render 'layouts/header'
    = yield
    / .container
    / = render 'layouts/footer'

    - # Special variables passed to the front-end for javascript
    :javascript
      if(typeof(RAILSSAYS)==='undefined') var RAILSSAYS = {};
      RAILSSAYS.env = "#{Rails.env}"

    = javascript_include_tag "application"
